body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

a:hover {
    font-size: 1.3rem;
    transition: 1s;
    color: black;
}

#logout-section {
    background-color: white;
    width: 150px;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

#logout, button {
    height: 50%;
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: none;
    color: purple;
}

#logout:hover, button:hover {
    transition: 1s;
    color: black;
    font-size: 1.1rem;
}

main {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: auto;
    margin-top: 30px;
}

#res {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: auto;
    display: none;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

footer {
    margin: 30px
}

footer:hover {
    font-size: 40px;
    transition: 10s;
}